@{
    ViewData["Title"] = "Entries";
}

@section BeforeMenu{ 
    <form class="form-inline my-2 my-lg-0" data-hr-controller="search" data-hr-form="input">
        <p class="bg-danger hiddenToggler" data-hr-toggle="mainError" data-hr-view="mainError" data-hr-style-on="display:block;">{{message}}</p>
        <select id="hr-form-prop-4" class="form-control" name="categoryId" data-hr-form-level="" data-hr-on-change="submit"></select>
    </form>
}

<div class="row">
    <div data-hr-controller="mainTable" class="col-lg-12">
        <load visible="true">
            <p>Working...</p>
        </load>
        <main>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="vertical-align: middle;">Date</th>
                            <th style="vertical-align: middle;">Description</th>
                            <th style="vertical-align: middle;">Total</th>
                            <th><button data-hr-on-click="add" class="btn btn-default" data-hr-toggle="add" data-hr-style-off="display:none;">Add</button></th>
                        </tr>
                    </thead>
                    <tbody data-hr-view="listing" data-hr-view-component="mainTableBody"></tbody>
                    <tfoot data-hr-view="total">
                        <tr>
                            <th colspan="2">Monthly Total</th>
                            <th colspan="2">${{amountTotal}}</th>
                        </tr>
                    </tfoot>
                </table>
                <template data-hr-component="mainTableBody">
                    <table>
                        <tr>
                            <td>{{created}}</td>
                            <td>{{description}}<p class="font-weight-light">{{categoryId}}</p></td>
                            <td>${{total}}</td>
                            <td>
                                <button data-hr-on-click="edit" class="btn btn-default" data-hr-toggle="edit" data-hr-style-off="display:none;">Edit</button>
                                <button data-hr-on-click="del" class="btn btn-default" data-hr-toggle="del" data-hr-style-off="display:none;">Delete</button>
                            </td>
                        </tr>
                    </table>
                </template>
            </div>

            <page-numbers></page-numbers>
        </main>

        <error>
            An error occured loading the entries. Please try again later.
        </error>
    </div>
</div>

<modal data-hr-controller="entryEditor" title-text="Entry" dialog-classes="modal-lg">
    <load class="modal-body">
        <p>Working...</p>
    </load>
    <main>
        <item-edit-form class="form-horizontal" data-hr-form-component="hr.forms.horizontal"></item-edit-form>
    </main>
    <error class="modal-body">
        <p>An error occured loading the value. Please try again later.</p>
    </error>
</modal>